# Ignore node_modules folders
node_modules
packages/**/node_modules

# Ignore build artifacts
dist
build
*.log

# Ignore Docker files and compose files
Dockerfile*
docker-compose.yml

# Ignore git and other version control system directories
.git
.gitignore

# Ignore temporary files
*.tmp
*.swp
*.DS_Store
